torch>=2.1.0
sentencepiece # tokenizer
transformers==4.39.0 # load sentence transformer open-source model
tqdm
numpy
tensorboard
PyMuPDF==1.23.26 # extract pdf
rank-bm25==0.2.2 # BM25 keyword-based search
